.expansionTitleText {
  margin-left: 10px;
  white-space: nowrap;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.associationList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.associationList li{
  padding-bottom: 5px;
}
