<div style=" margin:10px;">
  <div *ngIf="getId()!=null; else elseBlock">
    <h2>Task {{getId()}}</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-button-base mat-button>Submit</button>
    </div>
  </div>
  <ng-template #elseBlock>
    <div style="height: 100%;margin:auto;align-items: center;display: flex;justify-content: center;height: 100%;">
    <p>Please select a task to see details.</p>
  </div>
  </ng-template>
</div>
