<div class="main-content">
  <aca-mrbau-errormsgpane [errorMessage]="errorMessage"></aca-mrbau-errormsgpane>
  <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="tabSelectionChanged($event)"
    >
    <mat-tab *ngFor="let tab of taskCategories; let index = index">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">{{tab.tabIcon}}</mat-icon>
        <span [matBadge]="tab.tabBadge" matBadgeOverlap="false" [matBadgeHidden]="tab.tabBadge == 0">{{tab.tabName}}</span>
      </ng-template>
      <adf-datatable #dataTable
        [data]="data"
        [loading]="isLoading"
        (rowClick)="rowClicked($event)"
        (sorting-changed)="sortingChanged($event)"
        >
      <data-columns>
        <data-column
          key="icon"
          sortingKey="icon"
          type="image"
          [sortable]="false"
          class="adf-desktop-only adf-expand-cell-1">
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }">
              <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color ng-star-inserted" aria-hidden="true" data-mat-icon-type="font">{{entry.row.getValue('icon').replace('material-icons://','')}}</mat-icon>
            </span>
          </ng-template>
        </data-column>
        <data-column
          key="desc"
          sortingKey="mrbt:description"
          title="Aufgabe"
          [sortable]="true"
          cssClass="mrbau-prio-high"
          class="adf-expand-cell-3 adf-ellipsis-cell">
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }">
              {{entry.row.getValue('desc')}}
            </span>
          </ng-template>
        </data-column>
        <data-column *ngIf="this.isTabDocs"
          key="company"
          sortingKey="mrba:companyName"
          title="Firma"
          [sortable]="true"
          class="adf-expand-cell-3 adf-ellipsis-cell">
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }">
              {{entry.row.getValue('company')}}
            </span>
          </ng-template>
        </data-column>
        <data-column *ngIf="this.isTabDocs"
          key="kt"
          sortingKey="mrba:costCarrierNumber"
          title="KT/KS"
          [sortable]="true"
          class="adf-expand-cell-2 adf-ellipsis-cell"
          >
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }">
              {{entry.row.getValue('kt')}}
            </span>
          </ng-template>
        </data-column>
        <data-column
          key="dueDateValue"
          sortingKey="mrbt:dueDateValue"
          title="Zu erledigen bis"
          type="date"
          format="shortDate"
          [sortable]="true"
          class="adf-desktop-only adf-expand-cell-2 adf-ellipsis-cell"
          >
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true,'adf-datatable-cell-value':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }"
              title="{{ entry.row.getValue('dueDateValue') | adfLocalizedDate: 'medium' }}"
            >
              {{entry.row.getValue('dueDateValue') | adfLocalizedDate: 'shortDate'}}
            </span>

          </ng-template>
        </data-column>
        <data-column *ngIf="this.isTabDocs"
          title="Prio"
          key="prio"
          sortingKey="mrbt:dueDateValue"
          type="image"
          class="adf-desktop-only adf-expand-cell-1"
          [sortable]="true"
          >
            <ng-template let-entry="$implicit">
              <aca-task-indicator [prio]="entry.data.getValue(entry.row, entry.col)"></aca-task-indicator>
            </ng-template>
        </data-column>
        <data-column
          key="status"
          sortingKey="mrbt:status"
          title="Status"
          class="adf-desktop-only adf-expand-cell-2 adf-ellipsis-cell"
          >
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }">
              {{entry.row.getValue('status')}}
            </span>
          </ng-template>
        </data-column>
        <data-column *ngIf="this.isAdmin"
          key="createdUser"
          sortingKey="cmis:createdBy"
          title="Created By"
          class="adf-desktop-only adf-expand-cell-2 adf-ellipsis-cell"
          >
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }">
              {{entry.row.getValue('createdUser')}}
            </span>
          </ng-template>
        </data-column>
        <data-column *ngIf="this.isAdmin"
          key="assignedUser"
          sortingKey="mrbt:assignedUserName"
          title="Assigned To"
          class="adf-desktop-only adf-expand-cell-2 adf-ellipsis-cell"
          >
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }">
              {{entry.row.getValue('assignedUser')}}
            </span>
          </ng-template>
        </data-column>
        <data-column
          key="createdDate"
          sortingKey="cmis:creationDate"
          title="Datum"
          type="date"
          format="shortDate"
          [sortable]="true"
          class="adf-desktop-only adf-expand-cell-1 adf-ellipsis-cell"
          >
          <ng-template let-entry="$implicit">
            <span [ngClass]="{'adf-ellipsis-cell':true,'adf-datatable-cell-value':true, 'mrbau-high-prio':isHighPrio(entry.row.getValue('prio')),'mrbau-med-prio':isMedPrio(entry.row.getValue('prio')) }"
              title="{{ entry.row.getValue('createdDate') | adfLocalizedDate: 'medium' }}"
            >
              {{entry.row.getValue('createdDate') | adfLocalizedDate: 'shortDate'}}
            </span>
          </ng-template>
        </data-column>
      </data-columns>
      <!-- ALL DONE TEMPLATE -->
      <adf-no-content-template>
        <ng-template>
          <adf-empty-content
            icon="thumb_up"
            title="Alle Aufgaben erledigt!"
            subtitle="Im Moment gibt es keine neuen Aufgaben in diesem Bereich.">
          </adf-empty-content>
        </ng-template>
      </adf-no-content-template>
      <!-- LOADING TEMPLATE -->
      <adf-loading-content-template>
        <ng-template>
          <mat-progress-spinner
            class="adf-document-list-loading-margin"
            [color]="'primary'"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </ng-template>
      </adf-loading-content-template>
    </adf-datatable>
    <adf-pagination acaPagination
    [target]="this"
    [supportedPageSizes]="paginationSizes"
    >
    </adf-pagination>
  </mat-tab>
</mat-tab-group>
</div>
