.all_done_icon {
  margin-right: 8px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
  min-height: 0;
}
.mat-tab-group {
  height: 100%;
}
.adf-empty-content {
  min-height: 200px;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
}

.adf-pagination {
  background-color: #fafafa;
  border-top: 1px solid #eee!important;
}

.adf-datatable {
  overflow-y: auto!important;
}

.mrbau-high-prio {
  color:darkred;
  font-weight: 700;
}

.mrbau-med-prio {
  color:orange;
  font-weight: 700;
}
