<div #main id="main">
  <aca-mrbau-errormsgpane [errorMessage]="errorMessage"></aca-mrbau-errormsgpane>
  <div> <p>TBD HEADER</p> </div>
  <aca-mrbau-splitpane-belegsammlung *ngIf="!errorMessage" class="flexGrow">
    <ng-container ngProjectAs="[splitAreaLeft]">
      <adf-tree-view-list
        [nodeId]="documentListStartFolder"
        (nodeClicked)="onClick($event)"
        (error)="onErrorOccurred($event)">
      </adf-tree-view-list>
    </ng-container>
    <ng-container ngProjectAs="[splitAreaRight]">
      <adf-breadcrumb
        [folderNode]="selectedNode"
        [readOnly]="true"
        [rootId]="documentListStartFolder">
      </adf-breadcrumb>
      <adf-document-list
          #documentList
          [currentFolderId]="selectedNode?.id"
          [emptyFolderImageUrl]=""
          [contextMenuActions]="true"
          (folderChange)="folderChange($event)"
          [contentActions]="true">
          <adf-custom-empty-content-template>
            <adf-empty-content
              icon="folder"
              title="Ordner ist leer"
              subtitle="Dieser Ordner enthält keine Elemente"
            >
            </adf-empty-content>
          </adf-custom-empty-content-template>
      </adf-document-list>

    </ng-container>
  </aca-mrbau-splitpane-belegsammlung>
</div>
