<aca-mrbau-loaderoverlay *ngIf="isLoading"></aca-mrbau-loaderoverlay>

<adf-toolbar [title]="this.task.desc">
  <div *ngIf="this.task && !this.task.isTaskInDoneState()">
    <ng-container *ngFor="let b of taskBarButtons; index as i; first as isFirst">
      <button mat-flat-button
        *ngIf="b.visible ? b.visible() : true"
        class="disable-flex-shrink toolbar-button-spacing {{b.class}}"
        [matTooltip]="b.tooltip"
        (click)="b.onClick($event)"
        [style.display]="true"
        [disabled]="b.disabled ? b.disabled() : false">
        <mat-icon>{{b.icon}}</mat-icon>{{b.text}}
      </button>
    </ng-container>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <aca-tasks-menu-ocr [task]="task"></aca-tasks-menu-ocr>
      <aca-tasks-menu-delegate [task]="task"></aca-tasks-menu-delegate>
      <aca-tasks-menu-delete [task]="task"></aca-tasks-menu-delete>
    </mat-menu>
  </div>
</adf-toolbar>


<div *ngIf="isTaskModificationUiVisible()">
  <mat-expansion-panel style="margin-top:1rem;" [expanded]="true" [hidden]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>build</mat-icon>
        <span class="expansionTitleText">{{taskTitle}}</span>
      </mat-panel-title>
      <mat-panel-description>
        {{taskDescription}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
      <formly-form [form]="form" [fields]="fields" [options]="options" [model]="model" (modelChange)="onModelChangeEvent($event)"></formly-form>
      <button mat-raised-button type="button" class="mat-flat-button mat-button-base mat-primary addMarginTop" color="primary" (click)="onButtonSubmitClicked()" matTooltip="Weiter" [disabled]="!isFormValid()">{{submitButtonText}}</button>
    </form>
  </mat-expansion-panel>
</div>

<!-- linked documents -->
<aca-task-linked-documents-invoice-workflow
[associatedDocumentRef]=""
[associatedDocumentName]=""

></aca-task-linked-documents-invoice-workflow>
<!--
(onRemoveAssociation)="onRemoveAssociationClicked($event)"
(onAssociation)="onAssociationClicked($event)"
(onAddAssociation)="buttonAddFilesClicked()"

-->
<!-- comments panel -->
<mat-expansion-panel style="margin-top:1rem;" (opened)="commentPanelOpened=true" (closed)="commentPanelOpened=false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>comment</mat-icon>
      <span class="expansionTitleText">Kommentare</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <aca-task-commentlist-invoice-workflow #commentlist [nodeId]="taskNode ? taskNode.id : null" [isVisible]="commentPanelOpened"></aca-task-commentlist-invoice-workflow>
</mat-expansion-panel>

<!-- history panel -->
<mat-expansion-panel style="margin-top:1rem;" (opened)="historyPanelOpened=true" (closed)="historyPanelOpened=false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>history</mat-icon>
      <span class="expansionTitleText">Verlauf</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <aca-task-versionlist-invoice-workflow
    [taskId]="task ? task.id : null"
    [nodeId]="taskNode ? taskNode.id : null"
    [isVisible]="historyPanelOpened"
    (onAssociation)="onAssociationClicked($event)"
    ></aca-task-versionlist-invoice-workflow>
</mat-expansion-panel>
