<aca-mrbau-loaderoverlay *ngIf="isLoading"></aca-mrbau-loaderoverlay>

<adf-toolbar [title]="this.task.desc">
  <div *ngIf="isTaskToolbarButtonsVisible()">
    <ng-container *ngFor="let b of taskBarButtons; index as i; first as isFirst">
      <button mat-flat-button
        *ngIf="b.visible ? b.visible() : true"
        class="disable-flex-shrink toolbar-button-spacing {{b.class}}"
        [matTooltip]="b.tooltip"
        (click)="b.onClick($event)"
        [style.display]="true"
        [disabled]="b.disabled ? b.disabled() : false">
        <mat-icon>{{b.icon}}</mat-icon>{{b.text}}
      </button>
    </ng-container>
  </div>
  <div *ngIf="isTaskAdditionalToolbarButtonsVisible()">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <aca-tasks-menu-ocr [task]="task"></aca-tasks-menu-ocr>
      <aca-tasks-menu-newarchivetype [task]="task" (taskChangeEvent)="emitTaskChangeEvent($event)"></aca-tasks-menu-newarchivetype>
      <aca-tasks-menu-discard-document [task]="task" (taskChangeEvent)="emitTaskChangeEvent($event)"></aca-tasks-menu-discard-document>
      <mat-divider></mat-divider>
      <aca-tasks-menu-delegate [task]="task" (taskChangeEvent)="emitTaskChangeEvent($event)"></aca-tasks-menu-delegate>
      <mat-divider></mat-divider>
      <aca-tasks-menu-finishnow [task]="task" (taskChangeEvent)="emitTaskChangeEvent($event)"></aca-tasks-menu-finishnow>
      <aca-tasks-menu-delete [task]="task" (taskChangeEvent)="emitTaskChangeEvent($event)"></aca-tasks-menu-delete>
      <aca-tasks-menu-reopen [task]="task" (reopenClickedEvent)="reopenClickedEvent($event)"></aca-tasks-menu-reopen>
    </mat-menu>
  </div>
</adf-toolbar>

<div *ngIf="isTaskModificationUiVisible()">
  <mat-expansion-panel style="margin-top:1rem;" [expanded]="true" [hidden]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>build</mat-icon>
        <span class="expansionTitleText">{{taskTitle}}</span>
      </mat-panel-title>
      <mat-panel-description>
        {{taskDescription}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
      <formly-form [form]="form" [fields]="fields" [options]="options" [model]="model" (modelChange)="onModelChangeEvent($event)"></formly-form>
      <aca-task-propose-matching-documents #taskProposeMatchingDocuments
        [taskNodeAssociations]="taskNodeAssociations"
        [node]="taskNode"
        (onAssociation)="onAssociationClicked($event)"
        *ngIf="isProposeMatchingDocumentsVisible()">
      </aca-task-propose-matching-documents>
      <button mat-raised-button type="button" class="mat-flat-button mat-button-base mat-primary addMarginTop" color="primary" (click)="onButtonSubmitClicked()" matTooltip="Weiter" [disabled]="!isFormValid()">{{submitButtonText}}</button>
      <button *ngIf="isButtonPauseVisible()" mat-raised-button type="button" class="mat-flat-button toolbar-button-spacing mat-button-base mat-primary addMarginTop" color="primary" (click)="onButtonPauseClicked()" matTooltip="Pause"> <mat-icon>pause</mat-icon></button>
    </form>
  </mat-expansion-panel>
</div>

<!-- linked documents -->
<aca-task-linked-documents-invoice-workflow
[associatedDocuments]="taskNodeAssociations"
[taskNode]="taskNode"
[buttonAuditSheetVisible]="isUploadAuditSheetButtonVisible()"
(onAddAssociation)="onButtonAddFilesClicked()"
(onRemoveAssociation)="onRemoveAssociationClicked($event)"
(onAssociation)="onAssociationClicked($event)"
(onTaskNode)="onTaskNodeClicked()"
(onUploadDocument)="onUploadDocumentClicked($event)"
(onUploadNodeType)="onUploadNodeTypeInfo($event)"
></aca-task-linked-documents-invoice-workflow>

<!-- tag panel -->
<mat-expansion-panel style="margin-top:1rem;" [expanded]="true" (opened)="tagPanelOpened=true" (closed)="tagPanelOpened=false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>bookmark_border</mat-icon>
      <span class="expansionTitleText">Tag Manager</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <aca-task-tag-manager [nodeId]="taskNode ? taskNode.id : null" [isVisible]="tagPanelOpened"></aca-task-tag-manager>
</mat-expansion-panel>

<!-- comments panel -->
<mat-expansion-panel style="margin-top:1rem;" (opened)="commentPanelOpened=true" (closed)="commentPanelOpened=false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>question_answer</mat-icon>
      <span class="expansionTitleText">Kommentare</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <aca-task-commentlist-invoice-workflow #commentlist [nodeId]="taskNode ? taskNode.id : null" [isVisible]="commentPanelOpened"></aca-task-commentlist-invoice-workflow>
</mat-expansion-panel>

<!-- history panel -->
<mat-expansion-panel style="margin-top:1rem;" (opened)="historyPanelOpened=true" (closed)="historyPanelOpened=false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>history</mat-icon>
      <span class="expansionTitleText">Verlauf</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <aca-task-versionlist-invoice-workflow
    [taskId]="task ? task.id : null"
    [nodeId]="taskNode ? taskNode.id : null"
    [isVisible]="historyPanelOpened"
    (onAssociation)="onAssociationClicked($event)"
    ></aca-task-versionlist-invoice-workflow>
</mat-expansion-panel>
