@use '@coreui/coreui-pro/scss/coreui' as * with (
  // If you want to override variables do it here
  $enable-deprecation-messages: false
);

@import '~@ng-select/ng-select/themes/default.theme.css';

@import 'material-icons/iconfont/material-icons.css';

/* You can add global styles to this file, and also import other style files */
@import '@fontsource/open-sans';

body,
html {
  height: 100%;
  color-scheme: light;
}

body {
  margin: 0;
}
