<div id="pdf-container" >
  <div *ngIf='document_url==null; else elseBlock'>
    <div class="center">
      <img class="preview-icon" src="./assets/images/ft_ic_pdf.svg" alt="PDF Icon" width="500px">
      <p class="preview-text">Document Preview</p>
    </div>
  </div>
  <ng-template #elseBlock>
    <!--<embed id="pdf-frame" type="application/pdf" width="100%" height="100%" [src]="document_url">-->
    <!--<object id="pdf-frame" type="application/pdf" width="100%" height="100%" [data]="document_url"></object>-->
    <iframe id="pdf-frame" type="application/pdf" width="100%" height="100%" [src]="document_url" ></iframe>
  </ng-template>
</div>
